[submodule "notion"]
	path = notion
	url = https://github.com/takesato/recipe-notion.git
[submodule "newsblur"]
	path = newsblur
	url = https://github.com/takesato/recipe-newsblur.git
[submodule "scrapbox"]
	path = scrapbox
	url = https://github.com/YuheiNakasaka/franz-scrapbox.git
